@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal


html, body
  overflow-x: hidden
  height: 100%

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  box-sizing: border-box
  font-family: $default-font
  height: 61px
  width: 100%
  border-radius: 8px
  border: solid 1px #ced6da
  background-color: #ffffff
  padding: 0 20px
  color: #ced6da
  font-size: 14px
  &::placeholder
    color: #ced6da
  &:hover, &:focus
    outline: none

textarea
  height: 96px
  padding: 24px 20px

label
  display: block
  margin: 0 0 9px

.recapcha
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 14px auto

button
  outline: none
  border: none
  cursor: pointer
  transition: .3s ease

.consent
  text-align: center
  margin: 16px auto 0
  font-size: 12px
  color: #969696
  max-width: 250px
  width: 100%
  a
    display: inline



h1
  font-size: 40px
  font-weight: bold

h2
  font-size: 36px
  width: 100%
  font-weight: bold

.color-accent
  color: $accent

.color-blue
  color: $blue

.container
  max-width: 1170px
  width: 100%
  padding: 0 15px
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  position: relative

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  text-transform: uppercase
  border-radius: 8px
  font-size: 14px
  font-weight: 800
  height: 60px
  width: 100%
  max-width: 263px

.btn-blue
  background: $blue
  color: #fff
  .svg-icon
    fill: #fff
  &:hover
    background: $accent
    color: #fff

.btn-accent
  background: $accent
  color: #fff
  box-shadow: 0 3px 0 0 #de6e00
  &:hover
    box-shadow: 0 -3px 0 0 $accent
    background: #de6e00

.btn-entrance
  height: 28px
  max-width: 89px
  text-transform: none
  font-size: 14px
  font-weight: 500
  border-radius: 12.5px
  margin: 0 20px
  padding: 0 15px 0 12px
  .btn-icon
    width: 14px
    height: 16px
    margin: 0 9px 0 0


.btn-icon
  display: flex
  align-items: center
  justify-content: center

.svg-icon
  width: 100%
  height: 100%
  display: inline-block
  transition: .3s ease

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%

.content
  flex: 1 0 auto

footer
  flex: 0 0 auto
  background: $blue
  color: #fff
  padding: 76px 0 77px

.list-social
  display: flex
  align-items: center
  li
    margin: 0 11px 0 0
    &:last-child
      margin: 0
    a
      width: 25px
      height: 25px
    .svg-icon
      fill: #e4e6ee
  .link-telegram
    .svg-icon
      fill: $header

.box-text
  font-size: 14px
  line-height: 1.57

.w-100
  width: 100%

//header
header
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 2
  .logo
    margin: 0 auto 0 0

.header-top
  background: $header
  color: #ffffff
  padding: 11px 0
  .container
    align-items: center
    justify-content: space-between

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 14px
  margin: 0 auto
  li
    margin: 0 45px 0 0
    &:last-child
      margin: 0
    a
      color: #fff

.header-bottom
  padding: 17px 0

.logo
  max-width: 177px

.box-contacts
  font-size: 11px
  margin: 0 65px 0 0
  &:last-child
    margin: 0


.mail, .phone
  margin: 0 0 10px
  color: #fff
  font-size: 14px
  font-weight: bold

.phone
  font-size: 18px
  margin: 0 0 5px

.links-registration
  padding: 0 0 0 20px
  border-left: 1px solid $blue
  font-size: 14px
  font-weight: 500
  display: flex
  align-items: center
  .btn-icon
    margin: 0 9px 0 0
    width: 12px
    height: 14px
    fill: $blue
  &:hover
    color: #fff
    .btn-icon
      fill: #fff

.dropdown-wrapper
  position: relative

.dropdown-item
  display: flex
  align-items: center
  color: #ffffff
  text-transform: uppercase
  font-size: 14px
  cursor: pointer
  .icon-arrow
    fill: $blue
    width: 8px
    height: 4px
    margin: 0 0 0 8px

.dropdown-box
  position: absolute
  top: 100%
  left: 50%
  transform: translate(-50%,0)
  z-index: 2
  background: $header
  padding: 20px
  display: none

.dropdown-menu
  text-transform: uppercase
  font-size: 14px
  li
    margin: 0 0 10px
    &:last-child
      margin: 0
    a
      color: #fff
      &:hover
        color: $accent

//main
main
  padding: 212px 0 255px
  background: url("../img/bg1.png") no-repeat center top
    size: cover
  color: #fff

  .container
    align-items: center
    justify-content: space-between
  .box-text
    margin: 25px 0 35px
    color: #e8e8e9

.main-video
  box-shadow: 0 0 56.9px 16.1px rgba(0, 0, 0, 0.48)
  border-radius: 33px
  border: solid 6px #121212
  width: 528px
  height: 332px
  position: relative
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover

.btn-play
  position: absolute
  z-index: 1
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  fill: #fff
  width: 53px
  height: 63px

.main-content
  width: calc(100% - 528px)
  padding: 0 40px 0 0

//about
.about
  color: $text
  padding: 119px 0 60px
  h2
    color: #000
    margin: 0 0 22px
  .row
    margin: 64px 0 0

.row
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.about-box
  margin: 0 0 59px
  display: flex
  align-items: center
  width: 33.3%
  line-height: 1.38
  font-size: 14px
  h3
    color: #000000
    margin: 0 0 10px
    font-weight: bold

  &__icon
    padding: 18px 18px 22px 24px
    border-radius: 20px
    box-shadow: 0 0 7.4px 0.6px rgba(136, 136, 136, 0.15)
    background-color: #ff8c00
    width: 100px
    height: 100px
    transition: .3s ease
  &:hover
    .about-box__icon
      background: $blue
  &__body
    width: calc(100% - 100px)
    padding: 0 0 0 19px
    p
      max-width: 247px

//advantages
.advantages
  background: url("../img/bg2.png") no-repeat center
    size: cover
  padding: 216px 0 230px
  h2
    margin: 0 0 65px
  .container
    align-items: center
    justify-content: space-between

.advantages-content
  width: calc(100% - 653px)
  padding: 0 60px 0 0

.list-checkbox
  color: #515151
  li
    margin: 0 0 30px
    padding: 0 0 0 50px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 30px
      height: 22px
      background: url("../img/tick.svg") no-repeat center
        size: contain
    &:last-child
      margin: 0

.advantages-img
  position: relative
  width: 653px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10px
  box-shadow: 0 22px 33.6px 12.4px rgba(136, 136, 136, 0.15)
  overflow: hidden
  .btn
    position: absolute
    z-index: 1
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)


//stages-word
.stages-word
  padding: 123px 0 47px
  h2
    text-align: center
    margin: 0 auto 54px


.stages-word-box
  width: 33.3%
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  font-size: 14px
  color: $text
  line-height: 1.29
  margin: 0 0 84px
  &__icon
    width: 100px
    height: 100px
    background: $blue
    transition: .3s ease
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 16px
    border-radius: 20px
    box-shadow: 0 0 7.4px 0.6px rgba(136, 136, 136, 0.15)
  h3
    margin: 0 auto 15px
    font-weight: bold
    font-size: 18px
    color: #212121
  p
    max-width: 290px
  &:hover
    .stages-word-box__icon
      background: $accent


//result
.result
  color: #fff
  padding: 160px 0 200px
  background: url("../img/bg3.png") no-repeat center
    size: cover
  .box-text
    margin: 29px 0 59px

.img-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10px
  box-shadow: 5.7px -1.8px 28.7px 6.3px rgba(136, 136, 136, 0.15)
  overflow: hidden
  img
    width: 100%

//tariffs
.tariffs
  padding: 119px 0 109px
  .row
    align-items: stretch
    justify-content: center
  .box-text
    margin: 19px auto 60px
    max-width: 705px
    color: #515151
    text-align: center
  h2
    text-align: center

.tariffs-box
  background: #fff
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  padding: 60px 50px
  transition: .3s ease
  border-radius: 5px
  max-width: 360px
  width: 100%

  &:hover
    box-shadow: 0 0 35px 3px rgba(136, 136, 136, 0.15)
    z-index: 1

.btn-buy
  max-width: 207px
  height: 51px
  margin: 40px auto 0

.list-characteristics
  width: 100%
  text-align: center
  color: #515151
  li
    padding: 16px 0
    border-bottom: 1px solid #dadada
    width: 100%
    &:last-child
      border: none

.tariffs-box__name
  color: #ffffff
  background: $blue
  margin: 0 auto
  border-radius: 23px
  height: 47px
  max-width: 165px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  font-weight: 800
  letter-spacing: 0.24px

.price
  margin: 25px auto 30px
  font-size: 54px
  font-weight: 800
  color: #0a0a0a

//to-start
.to-start
  background: url("../img/bg2.png") no-repeat center
    size: cover
  padding: 190px 0 150px
  overflow: hidden
  h2
    text-align: center
    margin: 0 auto 75px
  .row
    position: relative
    align-items: center

.to-start__img
  position: absolute
  right: 0
  top: 50%
  transform: translate(0,-50%)
  max-width: 1259px
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.to-start-box
  display: flex
  align-items: center
  margin: 0 0 67px
  color: #212121
  font-size: 18px
  font-weight: bold
  p
    max-width: 451px
    margin: 0 0 0 30px
  &:hover
    .to-start-box__icon
      background: $accent

.to-start-box__icon
  width: 100px
  height: 100px
  background: $blue
  display: flex
  align-items: center
  justify-content: center
  transition: .3s ease
  border-radius: 20px
  box-shadow: 0 0 7.4px 0.6px rgba(136, 136, 136, 0.15)

//.question
.question
  padding: 117px 0
  h2
    text-align: center
    margin: 0 auto 50px

.panel_heading
  border-bottom: 1px solid #d2dade
  width: 100%
  padding: 23px 0
  &:last-child
    border: none

.block_title
  cursor: pointer
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  font-size: 14.5px
  font-weight: bold
  color: #0a0a0a
  .svg-icon
    width: 17px
    min-width: 17px
    height: 11px
    fill: $blue

.in
  .svg-icon
    transform: rotate(180deg)

.block_hover
  margin: 23px 0 0
  width: 100%
  display: none
  color: #515151
  font-size: 14px

//.reviews
.reviews
  padding: 120px 0
  h2
    text-align: center
  .box-text
    margin: 19px auto 46px
    text-align: center
    max-width: 705px
    width: 100%
    color: #515151
  .btn
    margin: 58px auto 0
    box-shadow: none

.reviews-box
  border-radius: 20px
  background-color: #f6fafc
  width: 100%
  max-width: 360px
  margin: 0 auto
  color: #515151
  padding: 23px 38px 24px 22px
  h3
    font-weight: bold
    color: #000
    margin: 0 0 10px

.reviews-box__head
  width: 100%
  display: flex
  align-items: center
  margin: 0 0 23px

.reviews-box__photo
  width: 61px
  height: 61px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

.reviews-box__head-wrap
  padding: 0 0 0 15px
  width: calc(100% - 61px)

.list-rating
  width: 100%
  display: flex
  align-items: center
  li
    width: 24px
    height: 23px
    margin: 0 9px 0 0
    &:last-child
      margin: 0
    .svg-icon
      fill: #febf01

.slick-slide
  outline: none

.slick-arrow
  z-index: 1
  outline: none
  opacity: 1
  border-radius: 50%
  width: 62px
  height: 62px
  box-shadow: 0 0 7.8px 0.2px rgba(77, 77, 77, 0.2)
  background-color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  padding: 20px
  transition: .3s ease
  svg
    fill: #cfcfcf
    width: 100%
    height: 100%
    transition: .3s ease
  &:before
    display: none
  &:hover, &:focus
    opacity: 1
    svg
      fill: $accent

.slick-prev
  left: -88px

.slick-next
  right: -88px

.slick-dots
  position: relative
  bottom: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 29px auto 0
  li
    width: 11px
    height: 11px
    border-radius: 50%
    background: #cfcfcf
    transition: .3s ease
    margin: 0 19px 0 0
    &:last-child
      margin: 0
    button
      display: none
  .slick-active
    background: $accent

//.partners
.partners
  padding: 123px 0 119px
  background: #fff url("../img/bg4.png") no-repeat center
    size: cover
  color: #ffffff
  overflow: hidden
  .btn
    box-shadow: none
    height: 71px
  .container
    align-items: center
    justify-content: space-between

.partners-content
  max-width: 641px
  width: 100%
  position: relative
  z-index: 1
  .box-text
    margin: 34px 0 30px
    line-height: 1.38
    font-size: 16px

.partners-percent
  position: relative
  width: 451px
  height: 451px
  border: 1px solid #cbd5eb
    radius: 50%
  display: flex
  align-items: center
  justify-content: center

.circle
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  border-radius: 50%

.circle1
  border: solid 1px #a5bbe4
  width: 385px
  height: 385px

.circle2
  border: solid 2px #cbd5eb
  width: 245px
  height: 245px

.partners-item
  background: $accent
  color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border-radius: 50%
  width: 181px
  height: 181px
  font-size: 56px
  font-weight: 900


//.sales
.sales
  padding: 186px 0 107px
  background: url("../img/bg5.png") no-repeat center
    size: cover
  margin: 0 0 13px
  .container
    align-items: center


.sales-img
  max-width: 589px
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.sales-content
  width: calc(100% - 589px)
  padding: 0 70px 0 0

//countdown
.countdown
  display: flex
  align-items: flex-start
  margin: 0 0 25px
  
.countdown-number
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  color: #0a0a0a
  font-size: 17px
  position: relative

.countdown-text
  font-family: $font

.countdown-time
  font-weight: bold
  font-size: 85px
  letter-spacing: 6.38px
  margin: 0 auto 10px
  line-height: .9

.countdown-dots
  content: ':'
  display: inline-block
  font-weight: bold
  font-size: 85px
  margin: 0 5px
  line-height: .8

.timer-sales
  display: flex
  flex-direction: column
  align-items: center
  max-width: 488px
  width: 100%
  margin: 30px 0
  border: 1px solid $blue
    radius: 20px
  p
    position: relative
    padding: 0 20px
    text-align: center
    margin: -10px auto 25px
    background: #f6fafc
    letter-spacing: 0.43px
    color: $blue
    
//footer
.callback-form
  border-radius: 10px
  background-color: #f6fafc
  max-width: 360px
  padding: 27px 25px 29px
  width: 100%
  h3
    text-align: center
    margin: 0 auto 22px
    color: #0a0a0a
    font-weight: bold
  button
    max-width: none
    box-shadow: none

.footer-box
  h3
    font-weight: bold
    font-size: 18px

footer
  .container
    align-items: flex-start
    justify-content: space-between
  .logo
    width: 245px
    max-width: none
    img
      width: 100%

.list-social-footer
  display: flex
  align-items: center
  margin: 35px 0
  li
    margin: 0 10px 0 0
    &:last-child
      margin: 0
    a
      width: 20px
      height: 20px
      .svg-icon
        fill: #f6fafc

.list-payment
  display: flex
  flex-direction: column
  align-items: flex-start
  margin: 0 0 40px
  li
    margin: 0 0 30px
    &:last-child
      margin: 0

.footer-info
  max-width: 380px
  width: 100%
  h3
    margin: 0 0 22px
  .box-text
    font-size: 16px
    line-height: normal

.footer-menu
  margin: 40px 0 140px
  li
    margin: 0 0 19px
    &:last-child
      margin: 0
    a
      color: #ffffff

.contacts-item
  margin: 35px 0 0
  font-size: 14px
  .mail, .phone
    font-size: 18px

@import "media"
// Всегда в конце
